@page
@model PROJEKAT_MONGODB.Pages.ProfilModel
@{
}
<section class="w3l-content-with-photo-11">
    <div class="contentwithphoto-11 py-5">
        <div class="container py-md-3">
            <div style="margin-bottom:10px;" class="tabelaRez-info">
                <div class="tab">
                    <button class="tablinks" onclick="otvoriTabelu(event, 'Kruzer')">Kruzer</button>
                    <button class="tablinks" onclick="otvoriTabelu(event, 'Krstarenja')">Krstarenja</button>
                    <button class="tablinks" onclick="otvoriTabelu(event, 'Rezervacije')">Zahtevi za rezervacije</button>
                </div>

                <div id="Rezervacije" class="tabcontent">
                    <h4 class="predstojece-rez">Zahtevi za rezervacije</h4>
                    <div>
                        <div style="overflow-y:scroll; height:500px; margin-top:20px;">
                            <table id="offers1" class="table" style="width:95%;">
                                <thead>
                                    <tr>
                                        <th>Krstarenje</th>
                                        <th>Ime</th>
                                        <th>Prezime</th>
                                        <th>Email</th>
                                        <th>Broj Pasosa</th>
                                        <th>Datum zahteva</th>
                                        <th>Polazak</th>
                                        <th>Kraj</th>
                                        <th>Status</th>
                                        <th>Odbij</th>
                                        <th>Prihvati</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < @Model.rezervacije.Count; i++)
                                    {
                                    <tr>
                                        <td>@Model.rezervisanaKrstarenja[i].Destinacija</td>
                                        <td>@Model.rezervacije[i].Ime</td>
                                        <td>@Model.rezervacije[i].Prezime</td>
                                        <td>@Model.rezervacije[i].Email</td>
                                        <td>@Model.rezervacije[i].BrojPasosa</td>
                                        <td>@Model.rezervacije[i].DatumKreiranja.ToString("dd.MM.yyyy.")</td>
                                        <td>@Model.rezervacije[i].Pocetak.ToString("dd.MM.yyyy.")</td>
                                        <td>@Model.rezervacije[i].Kraj.ToString("dd.MM.yyyy.")</td>
                                        <td>@Model.rezervacije[i].Status</td>
                                        @if (Model.rezervacije.ElementAt(i).Status == PROJEKAT_MONGODB.Model.StatusRezervacije.Cekanje)
                                        {
                                            <td>
                                                <form method="post">
                                                    <button type="submit" class="btn btn-theme1" asp-route-rezervacijaid="@Model.rezervacije[i].Id" asp-page-handler="Prihvati">Prihvati</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="post">
                                                    <button type="submit" class="btn btn-theme1" asp-route-rezervacijaid="@Model.rezervacije[i].Id" asp-page-handler="Odbij">Odbij</button>
                                                </form>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                            </td>
                                            <td>
                                                <form method="post">
                                                    <button type="submit" class="btn btn-theme1" asp-route-rezervacijaid="@Model.rezervacije[i].Id" asp-page-handler="Odbij">Otkazi</button>
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="Krstarenja" class="tabcontent">
                    <h4 class="predstojece-rez">Dostupne linije: </h4>
                    <button><a asp-page="/DodajKrstarenje" asp-route-kruzerId=@Model.kruzer.Id.ToString()> Dodaj Novo Krstarenje</a></button>
                    @if (Model.krstarenja.Count == 0)
                    {
                        <label class="nema-rez">Niste dodali nijednu liniju putovanja!</label>
                    }
                    else
                    {
                        <div style="overflow-y:scroll; height:500px;">
                            <table id="offers1" class="table" style="width:95%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Destinacija</th>
                                        <th>Luke</th>
                                        <th>Pocetak</th>
                                        <th>Kraj</th>
                                        <th>Cena</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.krstarenja.Count; i++)
                                    {
                                        string nizLuka = "";
                                        for (int j = 0; j < Model.luke[i].Count; j++)
                                        {
                                            nizLuka += Model.luke[i][j].Naziv + " -" + Model.luke[i][j].Mesto;
                                            if (Model.luke[i].Last() != Model.luke[i][j])
                                                nizLuka += ", ";
                                        }
                                        <tr>
                                            <td><a asp-route-krstarenjeId="@Model.krstarenja[i].Id" asp-route-kruzerId="@Model.krstarenja[i].Kruzer.Id" asp-page="/KrstarenjePrikaz"><img src="@Model.krstarenja[i].Slike[0]" class="img-responsive" alt=""></a></td>
                                            <td>@Model.krstarenja[i].Destinacija</td>
                                            <td>@nizLuka</td>
                                            <td>@Model.krstarenja[i].Pocetak.ToString("dd.MM.yyyy.")</td>
                                            <td>@Model.krstarenja[i].Kraj.ToString("dd.MM.yyyy.")</td>
                                            <td>@Model.krstarenja[i].Cena</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div id="Kruzer" class="tabcontent">
                    <h4 class="predstojece-rez">Kabine</h4>
                    @if (Model.kabine.Count == 0)
                    {
                        <label class="nema-rez">Nemate kabine na krzueru!</label>
                    }
                    else
                    {
                        <div style="overflow-y:scroll; height:500px;">
                            <table id="offers1" class="table" style="width:95%;">
                                <thead>
                                    <tr>
                                        <th>Tip</th>
                                        <th>Kapacitet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var k in @Model.kabine)
                                    {
                                        <tr>
                                            <td>@k.BrojKabine</td>
                                            <td>@k.BrojMesta</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function otvoriTabelu(evt, idTabele) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(idTabele).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<script>
    function vratiRez() {
        var kabina = document.getElementById('kabinaOznaka').value;
        $.ajax({
            type: "GET",
            url: '/Profil?handler=Kabina',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { oznaka: kabina },
            success: function (response) {
                $("#kabina").empty();
                if (response.length != 0) {
                    var body = document.getElementById('kabina');
                    for (var i = 0; i < response.rezervacije.length; i++) {
                        var red = document.createElement("tr");
                        body.appendChild(red);
                        var celija1 = document.createElement("td");
                        celija1.innerHTML = response.krstarenja[i].destinacija;
                        red.appendChild(celija1);
                        var celija2 = document.createElement("td");
                        celija2.innerHTML = response.rezervacije[i].ime;
                        red.appendChild(celija2);
                        var celija3 = document.createElement("td");
                        celija3.innerHTML = response.rezervacije[i].prezime;
                        red.appendChild(celija3);
                        var celija4 = document.createElement("td");
                        celija4.innerHTML = response.rezervacije[i].email;
                        red.appendChild(celija4);
                        var celija5 = document.createElement("td");
                        celija5.innerHTML = response.rezervacije[i].brojpasosa;
                        red.appendChild(celija5);
                        var celija6 = document.createElement("td");
                        celija6.innerHTML = response.rezervacije[i].status;
                        red.appendChild(celija6);
                    }
                }
            }
        })
    }
</script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
</script>