@page
@model PROJEKAT_MONGODB.Pages.RezervacijaModel
@{
}
<section class="w3l-inner-banner-main">
    <div class="about-inner portfolo-1">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-page="/Index"><span class="fa fa-home" aria-hidden="true"></span> </a></li>
                <li class="active"><a asp-page="/Katalog">Katalog / </a> </li>
                <li class="active">@Model.krstarenje.Destinacija / </li>
                <li class="active">@Model.kruzer.Naziv /</li>
                <li class="active">Rezervacija</li>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->
<!---728x90--->

<section class="w3l-donate">
    <div class="form-content">


        <div class="donate-form section-gap py-5">
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Rezervacija</h3>
                    <p class="my-3 head">
                        Rezervacija mesta na brodu 
                        <bold>@Model.kruzer.Naziv na destinaciji @Model.krstarenje.Destinacija</bold>
                        <br>
                        Za datume:
                        od
                        <bold>@Model.krstarenje.Pocetak.ToShortDateString()</bold>
                        do
                        <bold>@Model.krstarenje.Kraj.ToShortDateString()</bold>
                        za
                        <bold>@Model.krstarenje.Cena </bold>&#8364
                    </p>
                </div>
                <form method="post" class="signin-form donate-form mt-5 pt-3">

                    <input type="hidden" asp-for="@Model.krstarenjeId">
                    <input type="hidden" asp-for="@Model.kruzerId">
                    <div class="form-one">
                        <div class="form-input">
                            <label>Ime :</label>
                            <input type="text" asp-for="@Model.ime" placeholder="Unesite ime..." required />
                        </div>
                        <div class="form-input">
                            <label>Prezime :</label>
                            <input type="text" asp-for="@Model.prezime" placeholder="Unesite prezime..." required>
                        </div>
                        <div class="form-input">
                            <label>Broj pasosa :</label>
                            <input type="text" id="passport" asp-for="@Model.brojPasosa" placeholder="Unesite broj pasosa..." required />
                        </div>
                        <div class="form-input">
                            <label>Email Adresa :</label>
                            <input type="text" asp-for="@Model.email" placeholder="Unesite email..." required />
                        </div>

                        <div class="form-input">
                            <label> Izaberite neku od dostupnih kabina: </label>
                            @if (Model.dostupneKabine.Count() > 0)
                            {
                                <select asp-for="idKabine">
                                    <option value="">Kabine:</option>
                                    @foreach (var kabina in Model.dostupneKabine)
                                    {
                                        <option value="@kabina.Id">@kabina.BrojKabine - @kabina.BrojMesta</option>
                                    }
                                </select>
                                <button class="btn button-eff">Book Now</button>
                            }
                            else
                            {
                                <label>Nazalost nema vise slobodnih kabina.</label>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>

</script>